@page
@model FileNotFoundModel
@{
    Layout = string.Empty;
}

<!DOCTYPE html>
<html>
    <head>
        <style>
            html,
            body 
            {
                height: 100%;
                margin: 0;
                font-family: Calibri;
            }
            .box 
            {
                display: flex;
                flex-flow: column;
                height: 100%;
                background-color:#f0f3f4;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .box .row.content 
            {
                padding: 50px 0;
            }
            .maintable
            {
                width: 430px;
                border-collapse:collapse;
                margin: auto;
                background-color:#fff; 
                color:#3e3e3e; 
                border:1px solid #e0e0e0; 
                border-bottom:1px solid #f0f3f4; 
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
            }
        </style>
    </head>
  <body>
    <div class="box">
        <div class="row content">
            <table class="maintable">
                <tr>
                    <td>
                        <div style="margin: 40px; text-align:left;">
                            <p style="font-size:120px;text-align:center;margin:0;">404</p>
                            <span style="font-size:30px;">Файл не найден</span><br/>
                            <span>Запрашиваемый файл не найден, проверьте корректность ссылки</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
  </body>
</html>