@page
@model PageNotFoundModel
@{
    Layout = string.Empty;
}

<!DOCTYPE html>
<html>
<head>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            font-family: Calibri;
        }

        .box {
            display: flex;
            flex-flow: column;
            height: 100%;
            background-color: #f0f3f4;
        }

            .box .row.content {
                padding: 50px 0;
            }

        .maintable {
            width: 630px;
            border-collapse: collapse;
            margin: auto;
            background-color: #fff;
            color: #3e3e3e;
            border: 1px solid #e0e0e0;
            border-bottom: 1px solid #f0f3f4;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="box">
        <div class="row content">
            <table class="maintable">
                <tr>
                    <td>
                        <div style="margin: 40px; text-align:left;">
                            <p style="font-size:120px;text-align:center;margin:0;">404</p>
                            <span style="font-size:40px;">Страница не найдена</span><br />
                            <span>Такой страницы не существует</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>